# The Python Data Model
- badges: true
- categories: [Fluent Python Notes]

- Data model as a description of Python as a framework. It formalizes the interfaces of the building blocks of the language itself, such as sequences, iterators, functions, classes, context managers and so on.   
- The special method names allows objects to implement, support and interact with basic language constructs such as: iteration, collections, attribute access, operator overloading, function and method invocation, string representation and formating, manage contexts.

**Two advantages of using special methods**

- the users of user defined class don't have to memorize method names for standard operations("How to get the number of items?, etc")   
- It's easier to benefit from the rich Python standard library and avoid reinventing the wheel like the random.choice function.

**Note**
- Just by implementing the $__getitem__$ special method, the class also becomes iterable.(why?)

**Why len is not a method?**  

- len is not called as a method because it gets special treatment as part of the Python Data Model, just like abs. But thanks to the special method $__len__$ you can also make len work with your own custom objects  
- Think of len and abs as unary operators.

### namedtuple â€” Tuple Subclass with Named Fields

Each kind of namedtuple is represented by its own class, which is created by using the namedtuple() factory function.

Named tuples assign meaning to each position in a tuple and allow for more readable, self-documenting code.

In [1]:
import collections

In [2]:
Person = collections.namedtuple('Person','name age')

- Returns a new tuple subclass named Person
- Any valid Python identifier may be used for a fieldname except for names starting with an underscore. Valid identifiers consist of letters, digits, and underscores but do not start with a digit or underscore and cannot be a keyword such as class, for, return, global, pass, or raise

In [14]:
Person.__doc__

'Person(name, age)'

In [4]:
bob = Person(name = 'bob', age = 30)
print("Representation:", bob)

Representation: Person(name='bob', age=30)

it is possible to access the fields of the namedtuple by name using dotted notation (obj.attr) as well as by using the positional indexes of standard tuples.

In [5]:
# accessing the values using obj.attr
print("name: ",bob.name)
print("age: ",bob.age)

name:  bob
age:  30

In [7]:
# accessing the values using index
print("name: ",bob[0])
print("age: ",bob[1])

name:  bob
age:  30

Just like a regular tuple, a namedtuple is immutable.

In [8]:
bob.name = "Borat"

AttributeError: ignored

**Some special methods defined in namedtuple**

In [9]:
bob._fields

('name', 'age')

In [10]:
bob._asdict()

OrderedDict([('name', 'bob'), ('age', 30)])

In [11]:
rob = bob._replace(name='Robert')

In [13]:
rob is bob # bob and rob are two objects

False

Class method that makes a new instance from an existing sequence or iterable. _make method can be thought of as an alternative constructor

In [16]:
Person._make(['ME',200])

**Various methods and behaviour of namedtuples**

In [20]:
for i in dir(Person):
  print(i,end=" ")

__add__ __class__ __contains__ __delattr__ __dir__ __doc__ __eq__ __format__ __ge__ __getattribute__ __getitem__ __getnewargs__ __gt__ __hash__ __init__ __init_subclass__ __iter__ __le__ __len__ __lt__ __module__ __mul__ __ne__ __new__ __reduce__ __reduce_ex__ __repr__ __rmul__ __setattr__ __sizeof__ __slots__ __str__ __subclasshook__ _asdict _field_defaults _fields _fields_defaults _make _replace age count index name

### Return a random element from a list

In [21]:
import random

mylist = ["apple","mango","banana"]

random.choice(mylist)

'mango'

In [22]:
x = "OPEN_SESAME"

random.choice(x)

'O'