# "19-April-Qno-1.Py"

- author: "<a href='https://www.linkedin.com/in/aneeshdata/'>Aneesh R</a>"
- toc: true
- comments: true
- categories: [Python Quickie]
- badges: true

## Looping over a range of numbers

In [1]:
for i in [0,1,2,3,4]:
  print(i**2)

0
1
4
9
16

In [6]:
for i in range(5):
  print(i**2)

0
1
4
9
16

In [33]:
def speed_for_loop():
  for i in range(5):
    print(i**2)

speed_for_loop()

0
1
4
9
16

## Looping over a collection

In [34]:
colors= ['red','green','blue','yellow']
for i in range(len(colors)):
  print(colors[i])

red
green
blue
yellow

In [35]:
colors= ['red','green','blue','yellow']
for color in colors:
  print(color)

red
green
blue
yellow

## Looping backwards

In [36]:
for i in range(len(colors)-1,-1,-1):
  print(colors[i])

yellow
blue
green
red

In [37]:
for color in reversed(colors):
  print(color)

yellow
blue
green
red

## looping over a collection and indices

In [38]:
for i in range(len(colors)):
  print(i,colors[i])

0 red
1 green
2 blue
3 yellow

In [39]:
for i,j in enumerate(colors):
  print(i,j)

0 red
1 green
2 blue
3 yellow

## Looping over two collections

In [40]:
names = ['Ann','John','james','lily']
colors =['red','white','xyz']

n = min(len(names),len(colors))

for i in range(n):
  print(names[i],colors[i])

Ann red
John white
james xyz

In [41]:
for i in zip(names,colors):
  print(i)

('Ann', 'red')
('John', 'white')
('james', 'xyz')

In [28]:
for name,color in zip(names,colors):
  print(name,color)

Ann red
John white
james xyz

## Looping in Sorted Order

In [29]:
for color in sorted(colors):
  print(color)

red
white
xyz

In [31]:
for color in sorted(colors,reverse=True):
  print(color)

xyz
white
red

In [32]:
print(sorted(colors,key=len))

['red', 'xyz', 'white']