# "LIST, TUPLES AND NAMED TUPLES"

> Code Snippets from chapter two of Luciano Ramalho's Fluent Python.
- toc: false
- comments: true
- categories: [Python_Notes]
- badges: false

Build a list of unicode codepoints from a string.

In [1]:
symbols = '$%@*'
codes=[]
for symbol in symbols:
  codes.append(ord(symbol))
codes

[36, 37, 64, 42]

Build a list of unicode codepoints from a string using list comp

In [2]:
[ord(symbol) for symbol in symbols]

[36, 37, 64, 42]

In [3]:
print([x for x in range(10)])
x # list comp does not leak any internally defined variables

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

NameError: ignored

Build cartesian products first using only for loop then using list comp

In [4]:
chars = ['Harry Potter','John Hammond','Tony Montana']
movies = ['Goblet of fire','Jurassic Park','scarface']
l=[]
for char in chars:
  for movie in movies:
    l.append((char,movie))
print(l)

[('Harry Potter', 'Goblet of fire'), ('Harry Potter', 'Jurassic Park'), ('Harry Potter', 'scarface'), ('John Hammond', 'Goblet of fire'), ('John Hammond', 'Jurassic Park'), ('John Hammond', 'scarface'), ('Tony Montana', 'Goblet of fire'), ('Tony Montana', 'Jurassic Park'), ('Tony Montana', 'scarface')]

In [5]:
[(char,movie) for char in chars
                  for movie in movies]

[('Harry Potter', 'Goblet of fire'),
 ('Harry Potter', 'Jurassic Park'),
 ('Harry Potter', 'scarface'),
 ('John Hammond', 'Goblet of fire'),
 ('John Hammond', 'Jurassic Park'),
 ('John Hammond', 'scarface'),
 ('Tony Montana', 'Goblet of fire'),
 ('Tony Montana', 'Jurassic Park'),
 ('Tony Montana', 'scarface')]

In [6]:
[(movie,char) for char in chars
                  for movie in movies]

[('Goblet of fire', 'Harry Potter'),
 ('Jurassic Park', 'Harry Potter'),
 ('scarface', 'Harry Potter'),
 ('Goblet of fire', 'John Hammond'),
 ('Jurassic Park', 'John Hammond'),
 ('scarface', 'John Hammond'),
 ('Goblet of fire', 'Tony Montana'),
 ('Jurassic Park', 'Tony Montana'),
 ('scarface', 'Tony Montana')]

Various ways to unpack a tuple

In [7]:
A,B,*C=range(10)
print('A= ',A)
print('B= ',B)
print('C= ',C)

A=  0
B=  1
C=  [2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
A,*B,C=range(10)
print('A= ',A)
print('B= ',B)
print('C= ',C)

A=  0
B=  [1, 2, 3, 4, 5, 6, 7, 8]
C=  9

In [9]:
*A,B,C=range(10)
print('A= ',A)
print('B= ',B)
print('C= ',C)

A=  [0, 1, 2, 3, 4, 5, 6, 7]
B=  8
C=  9

In [10]:
*A,_,C=range(10)
print('A= ',A)
#print('B= ',B)
print('C= ',C)

A=  [0, 1, 2, 3, 4, 5, 6, 7]
C=  9

In [11]:
A,_,C=range(10)
print('A= ',A)
#print('B= ',B)
print('C= ',C)

ValueError: ignored

In [12]:
A,_=(1,(1,2,3,4))
print(A)

1

In [13]:
_,A=(1,(1,2,3,4))
print(A)
print(A[0])

(1, 2, 3, 4)
1

Defining and using a named tuple type

In [14]:
from collections import namedtuple

# To Intialize a namedtuple two parameters are required.
# First parameter is a class name and second one is a list of field names
# which are given as a string in the following form.

Employee = namedtuple('employee','IDno Position Department Pay Years_of_service')
Employee

__main__.employee

In [15]:
E1=Employee(1123,'D','Analytics',30000,1)
type(E1)

__main__.employee

In [16]:
# apparently the object name employee is not defined 
# in the global scope when we intialize the employee 
# named tuple object

employee.IDno(E1)

NameError: ignored

In [17]:
print(E1.IDno)
print()
print(E1.Position)
print()
print(E1.Department)
print()
print(E1.Pay)

1123

D

Analytics

30000

In [18]:
# An alterbate way to create employee object

info = (11135,'D','HR',5666666,55)
E2=Employee._make(info)

In [19]:
E2

employee(IDno=11135, Position='D', Department='HR', Pay=5666666, Years_of_service=55)

In [20]:
# Converting named tuple into 
# a mapping object 


Employee._asdict(E2)

OrderedDict([('IDno', 11135),
             ('Position', 'D'),
             ('Department', 'HR'),
             ('Pay', 5666666),
             ('Years_of_service', 55)])